
set default=0
set timeout_style=hidden
set timeout=0

menuentry 'Linux (Serial - initramfs)' {
  search --label --set=root --no-floppy EFI
  linux /vmlinuz console=ttyS0,115200 earlyprintk=ttyS0 loglevel=7
  initrd /initramfs.cpio.gz
}
