
set default=0
set timeout_style=hidden
set timeout=0

menuentry 'Linux (Serial - initramfs + Debian rootfs)' {
  search --file --set=root /vmlinuz
  linux /vmlinuz root=/dev/vda rw console=ttyS0,115200 earlyprintk=ttyS0 loglevel=7
  initrd /initramfs.cpio.gz
}
